

/* =======Login Page======= */
body{
    /* background: rgb(34,193,195); */
    background: #4D6FE5;
    font-family: "work sans";
}

html{
  font-size: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#loginform{
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.row button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, #4D6FE5 0%,     rgb(151, 226, 231) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  outline: none;
  width: 80%;
  margin: 1% 0;
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}

#facebookIcon{
  background-image:      url("https://image.flaticon.com/icons/svg/145/145802.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#twitterIcon{
  background-image: url("https://image.flaticon.com/icons/svg/145/145812.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#googleIcon{
  background-image: url("https://image.flaticon.com/icons/svg/145/145804.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a{
  margin: 0 0.6rem;
}

#alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 1.5rem;
}





/* ==========Admin page========== */

.admin-container{
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-container .admin-inner{
  background: #FFFFFF;
  width: 80%;
  margin: auto;
  padding: 3%;
  border-radius: 1em;
}


.admin-container .ques-and-ans-inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.admin-container .ques-and-ans-inputs input{
  border: 1px solid #dddddd;
  outline: none;
  padding: 0.8em 1em;
  width: 20em;
  margin-right: 1em;
  border-radius: 0.5em;
}

.admin-container .submit-button{
  border-radius: 25px;
  width: 10em;
  height: 40px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, #4D6FE5 0%,     rgb(151, 226, 231) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  outline: none;
  margin: 1em ;
}

.admin-container .submit-button:hover{
  opacity: 0.8;
}

.admin-container .all-ques-heading{
  text-align: center;
}
.admin-container .admin-heading{
  text-align: center;
}

.admin-container .sub-title{
  text-align: center;
  width: 80%;
  margin: 1% auto;
}

.admin-container .ques-and-ans{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;
  padding: 0.5em;
  width: 80%;
  margin: 0.5% auto;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.admin-container .ques-and-ans p{
  width: 100%;
  margin: 0;
  text-align: center;
}


.admin-container .all-ques-container{
  max-height: 40vh;
  overflow: auto;
}


/* ==========User Page========= */
.user-container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-container .user-inner{
  background: #FFFFFF;
  width: 80%;
  margin: auto;
  padding: 3%;
  border-radius: 1em;
}

.user-container .ques-and-ans-inputs{

}
.user-container .ques-and-ans-inputs input{
  border: 1px solid #dddddd;
  outline: none;
  padding: 0.8em 1em;
  width: 20em;
  margin-right: 1em;
  border-radius: 0.5em;
}


.user-container .submit-button{
  border-radius: 25px;
  width: 10em;
  height: 40px;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, #4D6FE5 0%,     rgb(151, 226, 231) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  outline: none;
  margin: 1em 0;
}

.user-container .submit-button:hover{
  opacity: 0.8;
}